* {
    margin: 0;
    padding: 0;
}
html, body {
    background: #EEE;
}
canvas {
    border: 2px #888 solid;
    position: absolute;
}
#controls {
    top: 10px;
    position: absolute;
    overflow: auto;
    height: 45px;
}
#controls2 {
    padding: 10px 10px 0 0;
    top: 50px;
    position: absolute;
    overflow: auto;
    height: 40px;
}
#input-fieldSize {
    margin-left: 10px;
    background: #EEE;
    border: 1px solid black;
}
#controls button {
    padding: 10px;
    background: #888;
    color: #FFF;
    outline: none;
    margin-right: 2px;
    cursor: pointer;
}
#select-pattern {
    margin-left: 5px;
    padding: 10px;
    width: 200px;
    background: #EEE;
    outline: none;
    border: 1px solid #888;
}
.text {
    padding-left: 15px;
}